{%extends "base.html"%}
{% block content %}
<form action = '/destinations/{{bucket_list.id}}' method = "post">
<div>
    <label for = "destination">Destination: </label>
    <select id ="destination" name = "destination">
        {% for destination in all_destinations %}
        <option value = {{destination.id}}
        {% if bucket_list.destination.id == destination.id %} selected = "selected"
        {% endif %}>
        {{destination.city_name}}</option>

        {% endfor %}
    </select>
</div>
        <div>
    <label for = "visited"> Visited: </label>
    <select id = "visited" name = "visited">
        <option value = "true"
        {% if bucket_list.visited == True %} selected = "selected" {% endif%}>
    True</option>
    <option value = "false"
    {% if bucket_list.visited == False %} selected = "selected" {% endif%}>
False </option>

</select>
</div>

<button type = "submit">Update</button>
</form>
       
<p> Country:{{bucket_list.destination.country.name}}</p>

{% endblock %}