{%extends "base.html"%}
{% block content %}
This is where the list of destinations will appear!
<br>
{% for bucket_list in all_destinations %} 
<div>
    <div>
       Destination: {{bucket_list.destination.city_name}}
       <br>
       Visited:{{bucket_list.destination.visited}}
       
        <div>
        Country: {{bucket_list.destination.country.name}}
        <br>
        Continent: {{bucket_list.destination.country.continent}}
        </div>

        <form class = "delete-list" action = "/destinations/{{bucket_list.id}}/delete" method = "post">
            <button class= "delete">DELETE</button>

            <button><a href = "/destinations/{{bucket_list.id}}">view</a></button>
            </form>
        </div>       
    </div>
</div>

{% endfor %}

<div>
    <button><a href = "/destinations/new">Add City</a></button>
    </div>
{% endblock %}