{%extends "base.html"%}
{% block content %}
<h2 class = "destintitle">MY DESTINATIONS</h2>

<div>
    <button class = "new_destin_button"><a href = "/destinations/new">Add City</a></button>
    </div>

{% for bucket_list in all_destinations %} 

<div class = "mydestination">
    <div>
        <section class= "entries">
       <p>Destination: {{bucket_list.destination.city_name}}</p>
       <p>Visited:{{bucket_list.destination.visited}}</p>
       <p>Country: {{bucket_list.destination.country.name}}</p>
       <p>Continent: {{bucket_list.destination.country.continent}}</p>
    </section>
        </div>

        <form class = "delete-list" action = "/destinations/{{bucket_list.id}}/delete" method = "post">
            <button class= "delete">DELETE</button>

            <button><a href = "/destinations/{{bucket_list.id}}">view</a></button>
            </form>
            <br>
        </div>       
    </div>
</div>

{% endfor %}

<div>
    <button><a href = "/destinations/new">Add City</a></button>
    </div>
{% endblock %}