{%extends "base.html"%}
{% block content %}


<h3 class = "view-title"> ADD YOUR DESTINATION</h3>
<form action = "/destinations" method = "post">
<div class= "add_destination">
    <label for = "destination_id">City: </label>
    <select id ="destination_id" name = "destination_id">
        {% for destination in all_destinations%}
        <option value = {{destination.id}}>
            {{destination.city_name}},  {{destination.country.name}}</option>
        {% endfor %}
    </select>
    <button type = "submit">ADD DESTINATION</button>
</div>
</form>

<p class = "redirect"> Can't find the country you're looking for? <button><a href = "/countries/new">ADD IT!</a></button></p>

{% endblock %}