{%extends "base.html"%}
{% block content %}

<form action = "/destinations" method = "post"></form>
<div>
    <label for = "destination">City: </label>
    <select id ="destination" name = "destination">
        {% for destination in all_destinations%}
        <option value = {{destination.id}}>
            {{destination.city_name}}, {{destination.country.name}}</option>
        {% endfor %}
    </select>
</div>
</form>

<p> We don't have the country you're looking for? <a href = "/countries/new">CLICK HERE</a></p>

{% endblock %}