@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import 'https://fonts.googleapis.com/css2?family=Courgette&family=Rock+Salt&display=swap';

nav{
    background-color: rgba(228, 84, 27, 0.78);
    font-family: lato, sans-serif;
    padding:10px;
}
.navbar{
    display:flex;
    flex-direction:row; 
}
.navbar a{
    color:white;
    text-decoration: none;
}
.navbar li{
    list-style:none;
    padding:10px;
    padding-right: 20px;
}


body{
    font-family: 'lato', sans-serif;
}

.title{
    font-family:'Rock Salt', cursive, sans-serif ;
    text-align : center;
    font-size: 100px;
    padding:5px;

}
.slogan {
    font-family:'Rock Salt', cursive, sans-serif ;
    text-align : center;
    font-size:15px;
}

.intro{
    padding:10px;
    margin:0 auto 50px auto;
    max-width: 600px;
    justify-content: center;

}