@import "https://fonts.googleapis.com/css?family=Lato:400,700";


nav{
    background-color: rgba(228, 84, 27, 0.78);
    font-family: lato, sans-serif;
    padding:10px;
}
.navbar{
    display:flex;
    flex-direction:row; 
}
.navbar a{
    color:white;
    text-decoration: none;
}
.navbar li{
    list-style:none;
    padding:10px;
    padding-right: 20px;
}


body{
    font-family: lato, sans-serif;
}