{%extends "base.html"%}
{% block content %}
<h1 class = "title">Nomadist</h1>
<p class = "slogan">The digilist for every nomad on the go</p>
<div>
    <img src="static/images/diginyc.jpeg", class ="intro_pic" alt = "picture of a nomad in New York City"/>
</div>
<div class= "intro">
<p>The life of a digi nomad is one of adventure and constant travel. Live these experiences to the full with NOMADIST, your solution to organizing your adventures and focusing on living your best life!</p>
</div>

    {% endblock %}